
NET PI_TXN_IN_PROGRESS LOC=P56;
NET PI_IPL_ZERO LOC=P63;
NET PI_A<1> LOC=P29;
NET PI_A<0> LOC=P28;
//NET PI_CLK LOC=P32;
NET PI_RESET_n LOC=P60;
NET PI_RD LOC=P64;
NET PI_WR LOC=P59;
NET PI_D<15> LOC=P40;
NET PI_D<14> LOC=P41;
NET PI_D<13> LOC=P73;
NET PI_D<12> LOC=P72;
NET PI_D<11> LOC=P70;
NET PI_D<10> LOC=P36;
NET PI_D<9> LOC=P37;
NET PI_D<8> LOC=P71;
NET PI_D<7> LOC=P34;
NET PI_D<6> LOC=P30;
NET PI_D<5> LOC=P68;
NET PI_D<4> LOC=P67;
NET PI_D<3> LOC=P53;
NET PI_D<2> LOC=P42;
NET PI_D<1> LOC=P52;
NET PI_D<0> LOC=P55;

NET M68K_A<23> LOC=P6;
NET M68K_A<22> LOC=P7;
NET M68K_A<21> LOC=P8;
NET M68K_A<20> LOC=P15;
NET M68K_A<19> LOC=P20;
NET M68K_A<18> LOC=P25;
NET M68K_A<17> LOC=P9;
NET M68K_A<16> LOC=P10;
NET M68K_A<15> LOC=P11;
NET M68K_A<14> LOC=P13;
NET M68K_A<13> LOC=P12;
NET M68K_A<12> LOC=P14;
NET M68K_A<11> LOC=P16;
NET M68K_A<10> LOC=P17;
NET M68K_A<9> LOC=P18;
NET M68K_A<8> LOC=P19;
NET M68K_A<7> LOC=P22;
NET M68K_A<6> LOC=P23;
NET M68K_A<5> LOC=P24;
NET M68K_A<4> LOC=P65;
NET M68K_A<3> LOC=P66;
NET M68K_A<2> LOC=P46;
NET M68K_A<1> LOC=P49;
NET M68K_D<15> LOC=P4;
NET M68K_D<14> LOC=P3;
NET M68K_D<13> LOC=P1;
NET M68K_D<12> LOC=P2;
NET M68K_D<11> LOC=P99;
NET M68K_D<10> LOC=P97;
NET M68K_D<9> LOC=P96;
NET M68K_D<8> LOC=P95;
NET M68K_D<7> LOC=P94;
NET M68K_D<6> LOC=P93;
NET M68K_D<5> LOC=P92;
NET M68K_D<4> LOC=P91;
NET M68K_D<3> LOC=P90;
NET M68K_D<2> LOC=P89;
NET M68K_D<1> LOC=P86;
NET M68K_D<0> LOC=P85;
NET M68K_CLK LOC=P27;
//NET M68K_FC<2> LOC=P94;
//NET M68K_FC<1> LOC=P93;
//NET M68K_FC<0> LOC=P92;

NET M68K_AS_n LOC=P82;
NET M68K_UDS_n LOC=P81;
NET M68K_LDS_n LOC=P80;
NET M68K_RW LOC=P79;

NET M68K_DTACK_n LOC=P78;
//NET M68K_BERR_n LOC=P4;

NET M68K_VPA_n LOC=P43;
NET M68K_E LOC=P50;
NET M68K_VMA_n LOC=P54;

NET M68K_IPL_n<2> LOC=P39;
NET M68K_IPL_n<1> LOC=P35;
NET M68K_IPL_n<0> LOC=P33;

NET M68K_RESET_n LOC=P58;
NET M68K_HALT_n LOC=P61;

NET M68K_BR_n LOC=P74;
NET M68K_BG_n LOC=P77;
//NET M68K_BGACK_n LOC=P76;
NET OVR_n LOC=P76;

NET RAMCE LOC=P87;