
NET PI_TXN_IN_PROGRESS LOC=P106; //GPIO 3
NET PI_IPL<2> LOC=P107; //GPIO 2
NET PI_IPL<1> LOC=P75; //GPIO 1
NET PI_IPL<0> LOC=P74; //GPIO 0
NET PI_A<2> LOC=P58; //GPIO 26
NET PI_A<1> LOC=P86; //GPIO 25
NET PI_A<0> LOC=P94; //GPIO 24
NET PI_RESET_n LOC=P105; //GPIO 4
NET PI_SER_CLK LOC=P100; //GPIO 27
NET PI_SER_DAT LOC=P71; //GPIO 5
NET PI_RD LOC=P68; //GPIO 6
NET PI_WR LOC=P77; //GPIO 7
NET PI_D<15> LOC=P98; //GPIO 23
NET PI_D<14> LOC=P97; //GPIO 22
NET PI_D<13> LOC=P54; //GPIO 21
NET PI_D<12> LOC=P61; //GPIO 20
NET PI_D<11> LOC=P59; //GPIO 19
NET PI_D<10> LOC=P101; //GPIO 18
NET PI_D<9> LOC=P102; //GPIO 17
NET PI_D<8> LOC=P60; //GPIO 16
NET PI_D<7> LOC=P103; //GPIO 15
NET PI_D<6> LOC=P104; //GPIO 14
NET PI_D<5> LOC=P64; //GPIO 13
NET PI_D<4> LOC=P69; //GPIO 12
NET PI_D<3> LOC=P80; //GPIO 11
NET PI_D<2> LOC=P91; //GPIO 10
NET PI_D<1> LOC=P85; //GPIO 9
NET PI_D<0> LOC=P81; //GPIO 8

NET M68K_A<23> LOC=P51;
NET M68K_A<22> LOC=P52;
NET M68K_A<21> LOC=P53;
NET M68K_A<20> LOC=P56;
NET M68K_A<19> LOC=P57;
NET M68K_A<18> LOC=P66;
NET M68K_A<17> LOC=P70;
NET M68K_A<16> LOC=P76;
NET M68K_A<15> LOC=P78;
NET M68K_A<14> LOC=P79;
NET M68K_A<13> LOC=P82;
NET M68K_A<12> LOC=P83;
NET M68K_A<11> LOC=P87;
NET M68K_A<10> LOC=P88;
NET M68K_A<9> LOC=P92;
NET M68K_A<8> LOC=P93;
NET M68K_A<7> LOC=P95;
NET M68K_A<6> LOC=P111;
NET M68K_A<5> LOC=P110;
NET M68K_A<4> LOC=P96;
NET M68K_A<3> LOC=P112;
NET M68K_A<2> LOC=P113;
NET M68K_A<1> LOC=P115;
NET M68K_A<0> LOC=P116;
NET M68K_D<31> LOC=P117;
NET M68K_D<30> LOC=P118;
NET M68K_D<29> LOC=P119;
NET M68K_D<28> LOC=P120;
NET M68K_D<27> LOC=P121;
NET M68K_D<26> LOC=P124;
NET M68K_D<25> LOC=P125;
NET M68K_D<24> LOC=P126;
NET M68K_D<23> LOC=P135;
NET M68K_D<22> LOC=P134;
NET M68K_D<21> LOC=P128;
NET M68K_D<20> LOC=P136;
NET M68K_D<19> LOC=P138;
NET M68K_D<18> LOC=P137;
NET M68K_D<17> LOC=P129;
NET M68K_D<16> LOC=P139;
NET M68K_D<15> LOC=P130;
NET M68K_D<14> LOC=P140;
NET M68K_D<13> LOC=P143;
NET M68K_D<12> LOC=P142;
NET M68K_D<11> LOC=P131;
NET M68K_D<10> LOC=P2;
NET M68K_D<9> LOC=P3;
NET M68K_D<8> LOC=P4;
NET M68K_D<7> LOC=P5;
NET M68K_D<6> LOC=P6;
NET M68K_D<5> LOC=P132;
NET M68K_D<4> LOC=P7;
NET M68K_D<3> LOC=P9;
NET M68K_D<2> LOC=P10;
NET M68K_D<1> LOC=P133;
NET M68K_D<0> LOC=P11;
NET M68K_CLK LOC=P30;
//NET M68K_FC<2> LOC=P94;
NET M68K_FC<1> LOC=P26;
NET M68K_FC<0> LOC=P27;

NET M68K_AS_n LOC=P20;
NET M68K_DS_n LOC=P21;
NET M68K_RW LOC=P22;
NET M68K_SIZ<1> LOC=P19;
NET M68K_SIZ<0> LOC=P17;

NET M68K_DSACK_n<1> LOC=P25;
NET M68K_DSACK_n<0> LOC=P24;
NET M68K_BERR_n LOC=P23;

//NET M68K_E LOC=P50;

NET M68K_IPL_n<2> LOC=P12;
NET M68K_IPL_n<1> LOC=P13;
NET M68K_IPL_n<0> LOC=P14;

NET M68K_RESET_n LOC=P15;
NET M68K_HALT_n LOC=P16;

NET M68K_BR_n LOC=P31;
NET M68K_BG_n LOC=P28;
//NET M68K_BGACK_n LOC=P77;
NET OVR_n LOC=P33;
NET INT2_n LOC=P35;
NET INT6_n LOC=P34;
NET KB_RESET_n LOC=P32;

NET SPARE<10> LOC=P50;
NET SPARE<9> LOC=P49;
NET SPARE<8> LOC=P48;
NET SPARE<7> LOC=P46;
NET SPARE<6> LOC=P45;
NET SPARE<5> LOC=P44;
NET SPARE<4> LOC=P43;
NET SPARE<3> LOC=P41;
NET SPARE<2> LOC=P40;
NET SPARE<1> LOC=P39;
NET SPARE<0> LOC=P38;
